# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Mac OS Finder
**/.DS_Store
**/._.DS_Store

# NFS files
**/.nfs

# IPython Notebook checkpoints
**/.ipynb*
